$tisa: "ff-tisa-web-pro", Georgia, "Times New Roman", Times, serif;
$futura-narrow: "futura-pt-condensed", "Arial Narrow", sans-serif;
$futura: "futura-pt", "Helvetica Neue", Arial, Helvetica, serif;

$colour_gold: #caa75b;
$colour_red: #c1503e;
$colour_black: #333333;
$colour_grey: #777777;

$colour_text: $colour_black;
$colour_background: #fff;
$colour_links: $colour_red;
$colour_borders: #e9e9e9;

$gutter-width: 2em;

$giant-screen: 77.777777778em;
$large-screen: 64em;
$medium-screen: 41.875em;
