$tisa: "ff-tisa-web-pro", Georgia, "Times New Roman", Times, serif;
$futura: "futura-pt-condensed", "Arial Narrow", sans-serif;
$freight: "freight-sans-pro", "Helvetica Neue", Arial, Helvetica, serif;

$colour_gold: #caa75b;

$colour_background: #333;
$colour_links: $colour_gold;

$giant-screen: 87.5em;
$large-screen: 64em;
$medium-screen: 33.75em;
