@import 'normalize';
@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: $tisa;
    background-color: $colour_background;
    color: $colour_text;
    font-size: 1em;
    line-height: 1.5em;
    height: 100%;
    min-height: 100%;
    @media (min-width: $medium-screen) {
        font-size: 1.125em;
        line-height: 1.5em;
    }
}

a {
    color: $colour_links;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.1em;
    text-rendering: optimizeLegibility;
    font-family: $nova;
}

h4, h5, h6 {
    font-family: $nova;
}

img {
    max-width: 100%;
}

h1,
.primary-heading {
    font-size: 3.333333333em;
    font-weight: 700;
}

h2,
.secondary-heading {
    font-size: 2.333333333em;
    font-weight: 700;
}

h3,
.tertiary-heading {
    font-size: 1.333333333em;
    font-weight: 600;
}

h4,
.quarternary-heading {
    font-size: 1.125em;
    font-weight: 700;
}

h5,
.quinary-heading {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
}

h6,
.senary-heading {
    font-size: 0.9375em;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

p + p {
    margin-top: 0;
}

.wrapper {
    position: relative;
    padding: 0 5%;
    @media (min-width: $medium-screen) {
        padding: 0 3%;
    }
    max-width: 71.25em;
    margin: 0 auto;
}

.header {
    @include clearfix;
    color: #fff;
    a {
        color: #fff;
    }
}

.header--pre {
    background: darken($colour_red, 5%);
    padding: 0.5em 0;
}

.quick-event-details {
    @include unstyled-list;
    margin: 0;
    @media (min-width: $large-screen) {
        @include inline-list;
    }
    li {
        padding-right: 0.8em;
        @media (min-width: $large-screen) {
            border-right: 1px solid transparentize(#fff, 0.9);
            &:last-child {
                border-right: none;
            }
        }
    }
}

.header--pre_links-list {
    @media (min-width: $large-screen) {
        font-size: .777777778em;
        font-family: $tisa;
    }
}

.quick-navigation-position {
    @media (min-width: $large-screen) {
        position: absolute;
        right: 3%;
        top: 0;
    }
}

.secondary-links-menu {
    display: none;
    visibility: hidden;
    @media (min-width: $large-screen) {
        display: block;
        visibility: visible;
    }
    li {
        margin: 0 1em;
    }
}

.header--site {
    background: $colour_red;
    padding: $gutter-width/2 0;
    .wrapper {
        position: relative;
    }
}

.site-logo {
    display: inline-block;
    margin-bottom: 1em;
    @media (min-width: $large-screen) {
        margin-bottom: 0;
    }
    h1 {
        margin: 0;
        line-height: 1em;
        width: 5.55em;
        height: 1.416666667em;
        @extend .image-replacement;
        display: inline-block;
        background-image: url('../img/2014-logo.svg');
    }
}

.navigation-position {
    @media (min-width: $large-screen) {
        position: absolute;
        right: 3%;
        top: 1.5em;
    }
}


.site-nav {
    width: 110%;
    left: -5%;
    @media (min-width: $medium-screen) {
        width: 106%;
        left: -3%;
    }
    @media (min-width: $large-screen) {
        width: auto;
        left: auto;
    }
}

.nav__menu {
    margin: 0;
    padding: 0;
    @media (min-width: $large-screen) {
        @include inline-list;
        a {
            display: inline-block;
            line-height: 1.5em;
            border-bottom: none;
            padding: 0;
        }
    }
}

.primary-links-menu {
    font-family: $nova;
    border-top: 1px solid rgba(255,255,255,0.1);
    @include unstyled-list;
    @media (min-width: $large-screen) {
         border-top: none;
        text-transform: uppercase;
        font-size: .888888889em;
        letter-spacing: 1px;
        font-weight: 700;
        text-align: right;
    }
    a {
        display: block;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        padding: 0.4em 0.6em;
    }
}


.secondary-link {
    @media (min-width: $large-screen) {
        display: none !important;
        visibility: hidden;
    }
}

/*! responsive-nav.js 1.0.31 by @viljamis */
.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}

.nav-collapse.opened {
    max-height: 9999px;
}

.disable-pointer-events {
    pointer-events: none !important;
}

.nav-toggle {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: absolute;
    right: 5%;
    top: 1.5em;
    @extend .image-replacement;
    height: 22px;
    width: 22px;
    background: transparent url(../img/menu-white.png) center center no-repeat;
    @include prefix(background-size, 22px 21px);
}

@media screen and (min-width: $large-screen) {
    .js .nav-collapse {
        position: relative;
    }
    .js .nav-collapse.closed {
        max-height: none;
    }
    .nav-toggle {
        display: none;
    }
}

.footer--site-footer {
    @include clearfix;
    background-color: $colour_black;
    color: #fff;
    padding: 5em 0;
    a {
        color: $colour_gold;
    }
}

.footer--site-footer__grid-row {
    @extend grid-row;
}

.footer--site-footer__grid-unit-about {
    @media (min-width: $medium-screen) {
        @include grid-column;
        @include grid-column--half;
    }
}

.footer--site-footer__grid-unit-links {
    @media (min-width: $medium-screen) {
        @include grid-column;
        @include grid-column--quarter;
        margin-left: 25%;
    }
}

.about-shropgeek {
    @include media-block;
    margin-bottom: 3em;
}

.site-footer__links-list {
    width: 50%;
    float: left;
    ul {
        @include unstyled-list;
        font-family: $nova;
        margin: 0;
    }
    a {
        font-size: 0.777777778em;
    }
    h3 {
        @extend .senary-heading;
        font-size: 0.777777778em
    }
}

.about-shropgeek {
    p {
        font-size: 0.888888889em;
    }
}

.grid {
    width: 100%;
    @include clearfix;
}

.column {
    float: left;
    padding-top: $gutter-width/2;
    padding-bottom: $gutter-width/2;
}

.hero {
    padding-top: $gutter-width*1.5;
    padding-bottom: $gutter-width*1.5;
    @media (min-width: $medium-screen) {
        padding-top: $gutter-width*2.5;
        padding-bottom: $gutter-width*2.5;
    }
    h1 {
        color: $colour_red;
        text-align: center;
    }
    .subtitle {
        text-align: center;
        font-size: 1.277777778em;
        line-height: 1.5em;
        max-width: 29em;
        margin: 0 auto;
    }
}
.hero--short {
    padding-top: $gutter-width;
    padding-bottom: $gutter-width;
    @media (min-width: $medium-screen) {
        padding-top: $gutter-width*1.5;
        padding-bottom: $gutter-width*1.5;
    }
}
.fullpage-section {
    @include clearfix;
    border-bottom: 1px solid $colour_borders;
    padding: 5em 0;
    .wrapper {
        > h2 {
            text-align: center;
            margin-bottom: 1em;
        }
    }
}

.speakers {
    @extend .fullpage-section;
    padding: 0 0 1.5em;
}

.grid-unit--speaker {
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
        @include grid-column--block;
        @include block-grid-half;
    }
    @media (min-width: $large-screen) {
        @include grid-column--block;
        @include block-grid-quarter;
    }
}

.speaker {
    text-align: center;
    margin-bottom: 3.5em;
}

.speaker__name {
    font-size: 1.333333333em;
    font-weight: 600;
}

.speaker__meta {
    font-size: 0.833333333em;
    line-height: 1.5em;
    margin-bottom: 0;
}

.welcome-back {
    @extend .fullpage-section;
}

.welcome-back__grid-row {
    @include grid-row;
    margin: 0 auto;
    max-width: 52em;
}

.welcome-back__grid-unit {
    @media (min-width: $medium-screen) {
        @include grid-column--block;
        @include block-grid-half;
    }
}

.welcome-back__text-intro {
    @media (min-width: $medium-screen) {
        margin-right: 3em;
    }
}

.welcome-back__video {
    margin-top: 1em;
}

.whats-included {
    @extend .fullpage-section;
}

.whats-included__grid-row {
    @include grid-row;
}

.whats-included__grid-unit {
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
        @include grid-column--block;
        @include block-grid-half;
    }
    @media (min-width: $large-screen) {
        @include grid-column--block;
        @include block-grid-third;
    }

}

.whats-included__feature {
    margin-bottom: 3em;
    @include media-block;
    h3 {
        text-transform: uppercase;
        font-size: 0.777777778em;
        font-weight: 700;
    }
    p {
        font-size: 0.888888889em;
        line-height: 1.5em;
    }
}

.who-is-it-for {
    @extend .fullpage-section;
    background-color: #f4f4f4;
}

.who-is-it-for__grid-row {
    @include grid-row;
}

.who-is-it-for__grid-unit {
    margin-bottom: 3em;
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
        @include grid-column--block;
        @include block-grid-half;
    }
    @media (min-width: $large-screen) {
        @include grid-column--block;
        @include block-grid-third;
    }
}

/* schedule */
.big-schedule-list {
    @include unstyled-list;
    @include clearfix;
    border-bottom: 1px solid $colour_borders;
}

.schedule-item {
    @include grid-row;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid $colour_borders;
}

.schedule-column--time {
    @media (min-width: $medium-screen) {
        @include grid-column;
        @include grid-column--sixth;
    }
}
.schedule-column--entry {
    @media (min-width: $medium-screen) {
        @include grid-column;
        @include grid-column--five-sixths;
    }
    @media (min-width: $large-screen) {
        @include grid-column;
        @include grid-column--half;
    }
}

.schedule__time {
    font-family: $nova;
}

.meridian {
    color: $colour_grey;
}

.schedule__agenda-name {
    font-size: 1.166666667em;
    font-weight: 400;
    margin-top: 0;
}

.schedule__speaker-name {
    font-size: 1.333333333em;
    margin-top: 0;
}

.schedule__talk-title {
    font-family: $nova;
    font-size: 1em;
}

.schedule__description {
    color: $colour_grey;
}

.footer--sponsors {
    @extend .fullpage-section;
    h2 {
        font-size: 1.333333333em;
        font-weight: 700;
    }
}

.footer--sponsors__grid-row {
    @include grid-row;
}

.footer--sponsors__grid-unit {

    @media (min-width: $medium-screen) and (max-width: $large-screen) {
        @include grid-column--block;
        @include block-grid-half;
    }
    @media (min-width: $large-screen) {
        @include grid-column--block;
        @include block-grid-quarter;
    }
}

.sponsor-thumb {
    text-align: center;
    padding: 1.5em;
    border: 1px solid #e9e9e9;
    margin-bottom: 1.5em;
}

@media (min-width: $medium-screen) {
    .column {
        padding: $gutter-width/2;
        .first,
        &:first-child {
            padding-left: 0;
        }
        .last,
        &:last-child {
            padding-right: 0;
        }
    }
    .two-columns {
        .column {
            width: 50%;
        }
    }

    .three-columns {
        .column {
            width: 33.333333%;
        }
    }
    .four-columns,
    .six-columns {
        .column {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (min-width: $large-screen) {
    .four-columns,
    .six-columns {
        .column {
            padding: $gutter-width/2;
            .first,
            &:first-child {
                padding-left: 0;
            }
            .last,
            &:last-child {
                padding-right: 0;
            }
        }
    }
    .four-columns {
        .column {
            width: 25%;
        }
    }

    .six-columns {
        .column {
            width: 16.666666667%;
        }
    }
}
