@import 'normalize';
@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: $tisa;
    background-color: $colour_background;
    color: $colour_text;
    font-size: 1em;
    line-height: 1.5em;
    height: 100%;
    min-height: 100%;
    @media (min-width: $medium-screen) {
        font-size: 1.125em;
        line-height: 1.5em;
    }
}

a {
    color: $colour_links;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.1em;
    text-rendering: optimizeLegibility;
    font-family: $nova;
}

h4, h5, h6 {
    font-family: $nova;
}

img {
    max-width: 100%;
}

h1,
.primary-heading {
    font-size: 3.333333333em;
    font-weight: 700;
}

h2,
.secondary-heading {
    font-size: 2.333333333em;
    font-weight: 700;
}

h3,
.tertiary-heading {
    font-size: 1.333333333em;
    font-weight: 600;
}

h4,
.quarternary-heading {
    font-size: 1.125em;
    font-weight: 700;
}

h5,
.quinary-heading {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
}

h6,
.senary-heading {
    font-size: 0.9375em;
    text-transform: uppercase;
    font-weight: 400;
}

p {
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

p + p {
    margin-top: 0;
}

.wrapper {
    position: relative;
    padding: 0 5%;
    @media (min-width: $medium-screen) {
        padding: 0 3%;
    }
    max-width: 71.25em;
    margin: 0 auto;
}

.header {
    @include clearfix;
    color: #fff;
    a {
        color: #fff;
    }
}

.header--pre {
    background: darken($colour_red, 5%);

}

.header--site {
    background: $colour_red;
    padding: $gutter-width/2 0;
}

.header--pre_links-list {
    @extend .unstyled-list;
    @extend .inline-list;
    font-size: .777777778em;
}

.primary-links {
    @extend .unstyled-list;
    @extend .inline-list;
    font-family: $nova;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .888888889em;
    letter-spacing: 1px;
}

.quick-event-details {
    li {
        border-right: 1px solid transparentize(#fff, 0.85);
        padding-right: 0.8em;
        &:last-child {
            border-right: none;
        }
    }
}

.site-logo {
    h1 {
        margin: 0;
        line-height: 1em;
        width: 5.55em;
        height: 1.416666667em;
        @extend .image-replacement;
        display: inline-block;
        background-image: url('../img/2014-logo.svg');
    }
}

.grid {
    width: 100%;
    @include clearfix;
}

.media {
    @extend %media;
}

.column {
    float: left;
    padding-top: $gutter-width/2;
    padding-bottom: $gutter-width/2;
}

@media (min-width: $medium-screen) {
    .column {
        padding: $gutter-width/2;
        .first,
        &:first-child {
            padding-left: 0;
        }
        .last,
        &:last-child {
            padding-right: 0;
        }
    }
    .two-columns {
        .column {
            width: 50%;
        }
    }

    .three-columns {
        .column {
            width: 33.333333%;
        }
    }
    .four-columns,
    .six-columns {
        .column {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (min-width: $large-screen) {
    .four-columns,
    .six-columns {
        .column {
            padding: $gutter-width/2;
            .first,
            &:first-child {
                padding-left: 0;
            }
            .last,
            &:last-child {
                padding-right: 0;
            }
        }
    }
    .four-columns {
        .column {
            width: 25%;
        }
    }

    .six-columns {
        .column {
            width: 16.666666667%;
        }
    }
}
