<!doctype html>
<html lang="en">
   <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}News{% endblock %} &ndash; Shropgeek (R)evolution 2014</title>
        {% include "html-head" %}
        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% include "header" %}
        {% block open-wrapper %}
          <div class="wrapper">
        {% endblock %}

        <div class="news-post-content">
            <div class="breadcrumb">
                <a href="/">Home</a>/<a href="/news">News</a> /
            </div>
            <!-- Content block, child page inject content -->
            {% block content %}{% endblock %}
        </div>
        {% block close-wrapper %}
          </div>
        {% endblock %}
        {% include "footer" %}
        {% include "html-footer" %}
        {% block scripts %}{% endblock %}
    </body>
</html>
