<footer class="footer footer--sponsors">
    <div class="wrapper">
        <h2>With support from</h2>
        <div class="footer--sponsors__grid-row">
            <div class="footer--sponsors__grid-unit">
                <div class="sponsor-thumb">
                    <a href="#">
                        <img src="http://placehold.it/210x85" alt="" />
                    </a>
                </div>
            </div><!--
            --><div class="footer--sponsors__grid-unit">
                <div class="sponsor-thumb">
                    <a href="#">
                        <img src="http://placehold.it/210x85" alt="" />
                    </a>
                </div>
            </div><!--
            --><div class="footer--sponsors__grid-unit">
                <div class="sponsor-thumb">
                    <a href="#">
                        <img src="http://placehold.it/210x85" alt="" />
                    </a>
                </div>
            </div><!--
            --><div class="footer--sponsors__grid-unit">
                <div class="sponsor-thumb">
                    <a href="#">
                        <img src="http://placehold.it/210x85" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="footer footer--site-footer">
    <div class="wrapper">
        <div class="footer--site-footer__grid-row">
            <div class="footer--site-footer__grid-unit-about">
                <div class="about-shropgeek">
                    <img src="http://placehold.it/200x200" alt="" />
                    <div>
                    <p>We are a collection of like minded people based in and around Shropshire; who like to meet regularly to catchup on the latest goings on and socialise with fellow geeks.</p>
                    </div>
                </div>
            </div><!--
            --><div class="footer--site-footer__grid-unit-links">
                <div class="site-footer__links-list">
                    <ul>
                        <li><a href="#">Sponsors</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Refunds</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="site-footer__links-list">
                <h3>Previously</h3>
                    <ul>
                        <li><a href="#">2013</a></li>
                        <li><a href="#">2012</a></li>
                        <li><a href="#">2011</a></li>
                        <li><a href="#">2010</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
