<header class="header header--pre">
  <div class="wrapper">
    <div class="grid">
        <ul class="quick-event-details header--pre_links-list">
          <li>Friday, 26 September 2014</li>
          <li>Shropshire Conference Centre, Shrewsbury</li>
          <li><a href="#">#Revolutionconf</a></li>
        </ul>
        <ul class="secondary-links header--pre_links-list">
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#" class="tickets-button">Tickets</a></li>
        </ul>
    </div>
  </div>
</header>

<header class="header header--site">
    <div class="wrapper">
        <a href="#" class="site-logo"><h1>(R)evolution</h1></a>
        <ul class="primary-links">
            <li><a href="#">About</a></li>
            <li><a href="#">Speakers</a></li>
            <li><a href="#">Schedule</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Fringe</a></li>
        </ul>
    </div>
</header>
