{% block open-wrapper %}
{% endblock %}
{% block content %}
<div class="about">
    <div class="hero hero--short hero--border">
        <div class="wrapper">
            <h1>About</h1>
            <p class="subtitle">Shropshire's original web conference</p>
        </div>
    </div>
</div>
{% endblock %}
{% block close-wrapper %}
{% endblock %}
