{% block content %}
<a class="shropgeek-tab" href="http://www.shropgeek.co.uk"><span class="shropgeek-tab__top">Shropgeek</span> <span class="shropgeek-tab__bottom">presents</span></a>
<div class="content-position">
<p class="date-time">26 September 2014 <span class="gold-type">&#8226;</span> Shrewsbury, Shropshire</p>

<h1 title="(R)evolution 2014" class="site-title"><img class="revolution-2014-logo" src="assets/img/2014-logo.svg"/></h1>
<p class="subtitle">Featuring  <a href="http://boagworld.com/">Paul Boag</a>, <a href="http://andydavies.me/">Andy Davies</a>, <a href="http://fffunction.co/">Adam Robertson & Dan Goodwin</a> and more soon to be announced speakers</p>
<div class="signup-form">
    <form action="http://shropgeek-revolution.createsend.com/t/t/s/judyut/" method="post">
        <label for="fieldEmail">Get announcements in your inbox</label>
        <div class="hoz-form">
            <div class="hoz-form__field"> <input id="fieldEmail" class="field" name="cm-judyut-judyut" type="email" required /></div>
            <div class="hoz-form__button"><input type="submit" value="Notify me" class="button"/></div>
        </div>
    </form>
</form>
</div>
</div>
{% endblock %}
