{% block title %}Sponsors{% endblock %}
{% block open-wrapper %}
{% endblock %}
{% block content %}
<div class="sponsors">
    <div class="hero hero--short hero--border">
        <div class="wrapper">
            <h1>Our sponsors</h1>
            <p class="subtitle">Without whom this wouldn't be possible</p>
        </div>
    </div>

    <div class="sponsors__content">
        <div class="wrapper">
            <div class="sponsors-tier">
                <h2>Platinum+</h2>
                <div class="sponsors__grid-row">
                    <div class="sponsors__grid-unit sponsors__grid-unit--large">
                        <div class="sponsor sponsor--platinum-plus">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                                <h3>Company name</h3>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--large">
                        <div class="sponsor sponsor--platinum-plus">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                                <h3>Company name</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sponsors-tier">
                <h2>Platinum</h2>
                <div class="sponsors__grid-row">
                    <div class="sponsors__grid-row">
                        <div class="sponsors__grid-unit sponsors__grid-unit--med">
                            <div class="sponsor sponsor--platinum">
                                <a href="#">
                                    <div class="sponsor__logo">
                                        <img src="http://placehold.it/400x200">
                                    </div>
                                    <h3>Company name</h3>
                                </a>
                            </div>
                        </div><!--
                        --><div class="sponsors__grid-unit sponsors__grid-unit--med">
                            <div class="sponsor sponsor--platinum">
                                <a href="#">
                                    <div class="sponsor__logo">
                                        <img src="http://placehold.it/400x200">
                                    </div>
                                    <h3>Company name</h3>
                                </a>
                            </div>
                        </div><!--
                        --><div class="sponsors__grid-unit sponsors__grid-unit--med">
                            <div class="sponsor sponsor--platinum">
                                <a href="#">
                                    <div class="sponsor__logo">
                                        <img src="http://placehold.it/400x200">
                                    </div>
                                    <h3>Company name</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sponsors-tier">
                <h2>Gold</h2>
                <div class="sponsors__grid-row">
                    <div class="sponsors__grid-unit sponsors__grid-unit--small">
                        <div class="sponsor sponsor--gold">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                                <h3>Company name</h3>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--small">
                        <div class="sponsor sponsor--gold">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                                <h3>Company name</h3>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--small">
                        <div class="sponsor sponsor--gold">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                                <h3>Company name</h3>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--small">
                        <div class="sponsor sponsor--gold">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                                <h3>Company name</h3>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--small">
                        <div class="sponsor sponsor--gold">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                                <h3>Company name</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sponsors-tier">
                <h2>Silver</h2>
                <div class="sponsors__grid-row">
                    <div class="sponsors__grid-unit sponsors__grid-unit--tiny">
                        <div class="sponsor sponsor--silver">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--tiny">
                        <div class="sponsor sponsor--silver">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--tiny">
                        <div class="sponsor sponsor--silver">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--tiny">
                        <div class="sponsor sponsor--silver">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--tiny">
                        <div class="sponsor sponsor--silver">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--tiny">
                        <div class="sponsor sponsor--silver">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--tiny">
                        <div class="sponsor sponsor--silver">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sponsors-tier">
                <h2>Micro</h2>
                <div class="micro-sponsors">
                    <ul>
                        <li><a href="#">Sponsor</a></li>
                        <li><a href="#">Sponsor</a></li>
                        <li><a href="#">Sponsor</a></li>
                        <li><a href="#">Sponsor</a></li>
                        <li><a href="#">Sponsor</a></li>
                        <li><a href="#">Sponsor</a></li>
                        <li><a href="#">Sponsor</a></li>
                        <li><a href="#">Sponsor</a></li>
                        <li><a href="#">Sponsor</a></li>
                        <li><a href="#">Sponsor</a></li>
                        <li><a href="#">Sponsor</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block close-wrapper %}
{% endblock %}
{% block scripts %}
{{ "owl.carousel.min.js" | asset_url | script_tag }}
<script>
    $(document).ready(function() {

      $(".js-photos-carousel").owlCarousel({
        items : 2,
        itemsDesktop : [1024,2],
        itemsDesktopSmall : false,
        itemsTablet : false,
        itemsMobile : [480,1] // itemsMobile disabled - inherit from itemsTablet option
      });
    });
</script>
{% endblock %}
