{% block title %}Tickets{% endblock %}
{% block open-wrapper %}
{% endblock %}
{% block content %}
<div class="tickets">
    <div class="hero hero--short hero--border">
        <div class="wrapper">
            <h1>Tickets</h1>
            <p class="subtitle">Get them while you still can!</p>
        </div>
    </div>
</div>
<div class="tickets__content">
    <div class="wrapper">
        <div class="tickets__grid-row">
            <div class="tickets__primary-grid-unit">
                <div class="tickets-embed">
                    <iframe src="http://www.eventbrite.co.uk/tickets-external?eid=6373825283&amp;ref=etckt&amp;v=2" frameborder="0" height="260" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true" class="DRAGDIS_iframe"></iframe>
                </div>
                <div class="tickets__terms">
                    <h2 id="terms">Terms of sale</h2>
                    <p>We're excited to be back for our fourth year and this one's going to be huge. (R)evolution has evolved into a full day, single-track web conference, with 8 of the web's most revolutionary thinkers and space for 200 attendees.</p>
                    <p>Whether you're a web industry veteran or just starting your career, you won't want to miss out on the chance to be part of one of the friendliest web conferences the UK has to offer.</p>
                    <h3 id="refunds">Refunds and exchanges</h3>
                    <p>We're excited to be back for our fourth year and this one's going to be huge. (R)evolution has evolved into a full day, single-track web conference, with 8 of the web's most revolutionary thinkers and space for 200 attendees.</p>
                    <p>Whether you're a web industry veteran or just starting your career, you won't want to miss out on the chance to be part of one of the friendliest web conferences the UK has to offer.</p>
                </div>
            </div>
            <div class="tickets__secondary-grid-unit">
                <div class="sidebar">
                    <h2>Terms of sale</h2>
                    <p>For information on refunds, transfers and other important stuff see our <a href="#terms">terms</a></p>

                    <h2>Competitions</h2>
                    <p>Some of our lovely sponsors are generously donating swag for us to give away during the day. If you want to be in with a chance of winning some of it, don't forget to add yourself to our <a href="http://lanyrd.com/2013/shroprev/" target="_blank" title="(R)Evolution Lanyrd Page">Lanyrd page</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block close-wrapper %}
{% endblock %}
